{% extends "base.html" %}

{% block content %}

<div class="card shadow">

    <div class="card-header bg-success text-white">
        <h3>Add Employee</h3>
    </div>

    <div class="card-body">

        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label>Name</label>
                <input type="text" name="name" class="form-control">
            </div>

            <div class="mb-3">
                <label>Email</label>
                <input type="email" name="email" class="form-control">
            </div>

            <div class="mb-3">
                <label>Department</label>
                <input type="text" name="department" class="form-control">
            </div>

            <div class="mb-3">
                <label>Salary</label>
                <input type="number" name="salary" class="form-control">
            </div>

            <button class="btn btn-success">
                Save Employee
            </button>

        </form>

    </div>

</div>

{% endblock %}