{% extends "base.html" %}

{% block content %}

<div class="card shadow">

    <div class="card-header bg-warning">
        <h3>Edit Employee</h3>
    </div>

    <div class="card-body">

        <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}

            <div class="mb-3">
                <label>Name</label>
                <input type="text"    name="name" class="form-control"
                       value="{{ employee.name }}">
            </div>

            <div class="mb-3">
                <label>Email</label>
                <input type="email"    name="email" class="form-control"
                       value="{{ employee.email }}">
            </div>

            <div class="mb-3">
                <label>Department</label>
                <input type="text"   name="department" class="form-control"
                       value="{{ employee.department }}">
            </div>

            <div class="mb-3">
                <label>Salary</label>
                <input type="number"   name="salary"  class="form-control"
                       value="{{ employee.salary }}">
            </div>
            <div class="mb-3">

    <label class="form-label">Employee Photo</label>

    {% if employee.photo %}
        <br>
        <img src="{{ employee.photo.url }}"
             width="100"
             class="img-thumbnail mb-2">
    {% endif %}

    <input
        type="file"
        name="photo"
        class="form-control">

</div>

            <button class="btn btn-warning">
                Update Employee
            </button>

        </form>

    </div>

</div>

{% endblock %}